.layout
  display: flex

  .tools
    max-width: 25%

  .frames
    max-width: 25%

  .canvas,
  .preview
    flex-basis: 25%

  .canvas
    background-color: red

  .preview
    background-color: green
