<div class="preview-wrapper">
  <canvas></canvas>
  <div class="range-wrapper">
    <input type="range" min="1" max="24" step="1" value="0">
    <span class="fps"></span>
  </div>
  <div class="btn preview__btn full-screen-btn">Full Screen Mode</div>
  <div class="btn preview__btn get-gif-btn">Download as GIF</div>
  <div class="btn preview__btn save-btn">Save</div>
  <div class="btn preview__btn load-btn">Load</div>
  <div class="btn preview__btn local-save-btn">Save to local file</div>
  <div class="btn preview__btn local-load-btn">Load from local file</div>
  <input class="file-input--hidden" type="file">
  <div class="info">
    <p class="info__coords">24 - 12</p>
    <p class="info__size"></p>
  </div>
</div>