.frame-wrapper
  $borderColor: #ffd700
  position: relative


  width: 6rem
  height: 6rem
  margin: 0 auto
  min-width: 64px
  min-height: 64px

  .frame
    $borderSize: 2px
    width: 100%
    height: 100%
    box-sizing: border-box
    border: $borderSize solid #999999
    border-radius: 4px

    =setPosition($pos1, $pos2)
      #{$pos1}: $borderSize
      #{$pos2}: $borderSize

    &__tool
      position: absolute

      display: flex
      visibility: hidden
      align-items: center
      justify-content: center

      width: 1.5rem
      height: 1.5rem

      color: #000

      cursor: pointer
      user-select: none

      background-color: $borderColor

    &__tool--counter
      +setPosition(top, left)
      visibility: visible

    &__tool--bucket
      +setPosition(top, right)

    &__tool--dublicate
      +setPosition(bottom, right)

    &__tool--moover
      +setPosition(bottom, left)

    &__tool-content
      display: flex
      align-items: center
      justify-content: center

      width: 100%
      height: 100%

  &:hover .frame,
  .frame--active
    border: 2px solid $borderColor

  .frame--drop
    border: 2px dashed $borderColor

  &:hover  .frame__tool
    visibility: visible


