<aside class="tools">
  <div class="palette">
    <div class="palette__tool-wrapper">
      <figure class="palette__tool palette__tool-bucket" data-tool-type="bucket">
        <img class="palette__img" src="img/bucket.png" alt="bucket-tool" draggable="false">
        <figcaption class="palette__name">Color <span class="short-key">b</span>ucket</figcaption>
      </figure>
    </div>
    <div class="palette__tool-wrapper">
      <figure class="palette__tool palette__tool-pipette" data-tool-type="pipette">
        <img class="palette__img" src="img/pipette.png" alt="pipette-tool" draggable="false">
        <figcaption class="palette__name"><span class="short-key">C</span>hoose color</figcaption>
      </figure>
    </div>
    <div class="palette__separate-line"></div>
    <div class="palette__tool-wrapper">
      <figure class="palette__tool palette__tool-mover" data-tool-type="moover">
        <img class="palette__img" src="img/mover.png" alt="mover-tool" draggable="false">
        <figcaption class="palette__name"><span class="short-key">M</span>ove</figcaption>
      </figure>
    </div>
    <div class="palette__tool-wrapper">
      <figure class="palette__tool palette__tool-transformer" data-tool-type="transformer">
        <img class="palette__img" src="img/transformer.png" alt="transformer-tool" draggable="false">
        <figcaption class="palette__name"><span class="short-key">T</span>ransform</figcaption>
      </figure>
    </div>
  </div>
</aside>