<aside class="tools">
  <div class="palette">
    <div class="palette__tool palette__tool--pen" data-tool-type="pen" title="Pen"></div>
    <div class="palette__tool palette__tool--eraser" data-tool-type="eraser" title="Eraser"></div>
    <div class="palette__tool palette__tool--bucket" data-tool-type="bucket" title="Bucket"></div>
    <div class="palette__tool palette__tool--rectangle" data-tool-type="rectangle" title="Rectangle&#13Kepp shift: 1 to 1 ratio"></div>
    <div class="palette__tool palette__tool--paintsamecolor" data-tool-type="paintsamecolor" title="Paint all pixeles of the same color"></div>
    <div class="palette__tool palette__tool--mirrorpen" data-tool-type="mirrorpen" title="Vertical Mirror Pen&#13Kepp ctrl for horizontal axis&#13Kepp shift for horizontal and vertical axis"></div>
    <div class="palette__tool palette__tool--pipette" data-tool-type="pipette" title="Color Picker"></div>
    <div class="palette__tool palette__tool--lighten" data-tool-type="lighten" title="Lighten"></div>
    <div class="colorpicker-wrapper">
      <input type="color" class="color-picker color-picker--main" data-tool-type="mainColorPicker">
      <input type="color" class="color-picker color-picker--sub" data-tool-type="subColorPicker">
      <div class="palette__tool palette__tool--swapcolors" data-tool-type="swapcolors" title="Swap Colors"></div>
    </div>
    <div class="palette__tool palette__tool--shortCuts" data-tool-type="shortCutsSetter" title="Keyboard Shortcuts"></div>
  </div>
</aside>