<aside class="tools">
  <div class="palette">
    <div class="palette__tool palette__tool--pen" data-tool-type="pen" title="Pen"></div>
    <div class="palette__tool palette__tool--eraser" data-tool-type="eraser" title="Eraser"></div>
    <div class="palette__tool palette__tool--bucket" data-tool-type="bucket" title="Bucket"></div>
    <div class="palette__tool palette__tool--rectangle" data-tool-type="rectangle" title="Rectangle&#13Kepp shift: 1 to 1 ratio"></div>
    <div class="palette__tool palette__tool--paint-same-color" data-tool-type="paintSameColor" title="Paint all pixeles of the same color"></div>
    <div class="palette__tool palette__tool--vertical-mirror-pen" data-tool-type="mirrorPen" title="Vertical Mirror Pen"></div>
    <div class="palette__tool palette__tool--pipette" data-tool-type="pipette" title="Color Picker"></div>
    <div class="palette__tool palette__tool--lighten" data-tool-type="lighten" title="Lighten"></div>
    <input type="color" class="color-picker" data-tool-type="mainColorPicker">
    <input type="color" class="color-picker" data-tool-type="subColorPicker">
  </div>
</aside>